.radio-legend {
	border-bottom: none;
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 0;
}
.btn {
	margin-top: 10px;
}

/* CU branding header */
header {
    width: 100%;
    height: 120px;
    background-color: black;
}
.banner {
    height: 100%;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
}
.banner-text {
    color: white;
    font-size: 28px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue", sans-serif;
    padding: 17px 0 0 80px;
}